// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import 'theme_variables';
body {
    font-family: $secondary-font;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
}

@media(min-width: 992px) {
    .container {
        max-width: 900px !important;
    }
}

// Components
.btn {
    background: $yellow;
    border: 1px solid $yellow;
    border-radius: 2px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    font-size: .8rem;
    font-family: $primary-font;
    font-weight: 700;
    padding: .8rem 1.8rem;
    border: 1px solid $yellow;
    box-shadow: 0 0 0 rgba(0, 0, 0, .24);
    transform: translate3d(0, 0, 0);
    transition: background-color .25s ease-in, border-color ease-in, transform .75s cubic-bezier(.44, .51, .24, .99), box-shadow 1s cubic-bezier(.44, .51, .24, .99);
    @media(max-width: 380px) {
        padding: .8rem 1.2rem !important;
    }
    &:hover {
        color: $yellow;
        background-color: #000;
        transform: translate3d(0, -3px, 0);
    }
}

.btn-outline {
    background: $white;
    color: #5F80E1;
    &:hover {
        color: #5F80E1;
    }
}

.heading {
    position: relative;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 2.5rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    color: #201E1C;
    margin: 0 0 1rem 0;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 40%;
        width: 20%;
        height: 40%;
        background: rgba($blue, .5);
        transform: scale3d(1, 1, 1);
        transform-origin: 50% 0%;
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
}

.subheading {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    color: #201E1C;
    margin: 0 0 2rem 0;
    position: relative;
}

.subheading-desc {
    color: rgba($black, .7);
    text-align: center;
    margin: 0 0 2rem 0;
}

.subsection {
    color: $black;
    margin: 4rem 0 0;
}

.subsection-desc {
    color: rgba($black, .7);
    margin: 10px 0 4rem 0;
}

section {
    padding: 4rem 0;
    @media(max-width: 770px) {
        padding: 2rem 0;
    }
}

.card {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    transition: .8s cubic-bezier(.2, 1, .2, 1);
    margin: 20px 0;
    padding: 2rem;
    img {
        height: 150px;
        width: auto;
        display: block;
        margin: 0 auto 20px;
    }
    &:hover {
        transform: scale(1.048) translateY(-5px);
    }
    .card-title {
        font-weight: 700;
    }
}

.media {
    padding: 2rem;
    .media-icon {
        background: rgba(0, 0, 0, .15);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .media-body {
        margin: 0 0 0 2rem;
    }
}

.inline-list {
    padding: 0;
    margin: 20px 0;
    li {
        list-style-type: none;
        font-weight: 300;
        display: inline-block;
        width: 45%;
        line-height: 2rem;
        @media(max-width: 770px) {
            display: block;
            margin: 10px 0;
        }
        i {
            font-size: .8rem;
            margin: 0 5px 0 0;
            color: $blue;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}

// Navbar
.navbar {
    padding: 14px 16px 8px;
    position: relative;
    background: rgba(249, 249, 249, 1) !important;
    .navbar-gradient {
        height: 6px;
        width: 100%;
        background-image: linear-gradient(90deg, #4E6ABB 0%, #5F80E1 98%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .navbar-toggler {
        i {
            color: #5F80E1;
        }
    }
    .nav-item {
        //padding: 20px 5px;
        letter-spacing: 1.2px;
        color: #CB6B93;
        position: relative;
        padding: 0 10px;
        border: 1px solid transparent;
        a {
            font-family: $primary-font;
            color: rgba($black, .8);
            font-size: .7rem;
            text-transform: uppercase;
            &:hover {
                color: $black;
            }
        }
        &:before {
            font-family: arial;
            font-size: 8px;
            content: "\25CF";
            color: #dfdfdf;
            position: absolute;
            top: 12px;
            left: 0;
        }
    }
    .nav-item-cta {
        padding: 0 15px;
        opacity: 1;
        a {
            background: #5f80e1;
            box-shadow: 0 0 0 rgba(0, 0, 0, .24);
            background-image: linear-gradient(90deg, #4e6abb 0, #5f80e1 98%);
            color: $white;
            font-weight: 700;
            border: 1px solid #5f80e1;
            border-radius: 2px;
            &:hover {
                color: #5F80E1;
                background: $white;
            }
        }
        @media(max-width: 992px) {
            &:before {
                display: none;
            }
            a {
                text-align: center;
            }
        }
    }
    .navbar-collapse {
        .navbar-nav {
            //display: block;
            margin: 0 0 0 auto;
            font-size: .9rem;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.navbar-header {
    a {
        color: $black;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1.11px;
    }
    img {
        max-width: 150px;
        height: auto;
    }
}

.nav-home{
    background: rgba(249, 249, 249, 1) !important;
    img{
        max-width: 400px;
        display: block;
        margin: 0 auto;
        @media (max-width: 576px) {
            max-width: 100%;
        }
    }
}

.logo{
    height: 40px;
    width: 40px;
    background: $black-2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid $black-2;
    span{
        color: $white;
        font-weight: 600;
    }
    &:hover{
        background: $white;
        span{
            color: $black-2;
        }
    }
}

// Homepage
.hero {
    font-family: $secondary-font;
    img {
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
    }
    .illustration svg {
        display: block;
        width: 100%;
        max-width: 500px;
        transform: scale(1.2);
        position: relative;
        right: 20px;
        top: 40px;
        @media(max-width: 770px) {
            transform: scale(1);
        }
    }
    h1,
    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: #201E1C;
        line-height: 1.5;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 20px;
    }
    p {
        font-size: .7rem;
        color: #424140;
        margin: 1.4rem 0;
        font-family: $primary-font;
    }
    .hero-content {
        padding: 0 3rem 0 0;
        a {
            display: inline-block;
            margin: 10px 0 0 0;
            position: relative;
            &:hover {
                text-decoration: none;
                &:before {
                    background: transparent;
                }
            }
        }
        .btn {
            opacity: 1;
            display: block;
        }
        @media(max-width: 770px) {
            padding: 3rem 0 0 0;
        }
    }
}

// How I can help you
#my-services {
    .my-services {
        .my-service {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
            border-radius: 5px;
            transition: .8s cubic-bezier(.2, 1, .2, 1);
            margin: 20px 0;
            padding: 2rem;
            @media(max-width: 578px) {
                padding: 10px;
            }
            img {
                max-width: 150px;
                display: block;
                margin: 0 auto 20px;
            }
            &:hover {
                transform: scale(1.048) translateY(-5px);
            }
            h4 {
                font-weight: 700;
            }
        }
    }
}

// Work
#works {
    .single-work {
        // background: #D8D8D8;
        position: relative;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
        border-radius: 5px;
        text-align: center;
        height: 150px;
        margin: 2rem 0;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .8s cubic-bezier(.2, 1, .2, 1);
        h3 {
            // display: none;
            color: $white;
            text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
            font-size: 1.3rem;
            font-weight: 600;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        p {
            color: hsla(0, 0%, 100%, .8);
            font-size: 1rem;
            position: absolute;
            bottom: 10px;
            left: 20px;
            text-align: left;
        }
        &:hover {
            transform: scale(1.048) translateY(-5px);
            p {
                display: block;
            }
        }
        &:before {
            background: rgba(0, 0, 0, .5);
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }
}

#testimonial {
    .single-testimonial {
        background: #CB6B93;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        padding: 25px 10px;
        .testimonial-user {
            height: 100px;
            width: 100px;
            border-radius: 60%;
            display: block;
            margin: 0 0 0 auto;
            @media(max-width: 576px) {
                margin: 0 auto;
            }
        }
        .testimonial-content {
            font-size: 1rem;
            color: $white;
            line-height: 1;
            margin: 20px 0;
            @media(max-width: 576px) {
                text-align: center;
            }
            p {
                margin: 0 0 5px 0;
                font-weight: 700;
            }
            span {
                font-size: .9rem;
            }
        }
    }
}

#brand {
    .col {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-height: 80px;
            width: auto;
            background-size: cover;
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

#cta {
    margin: 2rem 0 0;
    .cta-content {
        padding: 4rem 3rem;
        background: $white;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        h3 {
            font-size: 2rem;
            /* Have a project in mi: */
            font-family: $primary-font;
            font-weight: 700;
            color: #424140;
            letter-spacing: 1px;
        }
        p {
            /* Would love to discus: */
            font-family: $primary-font;
            font-size: 1rem;
            color: #888;
        }
        .btn {
            margin-top: 1rem;
        }
    }
}

#cta {
    background: #f9f9f9;
    .cta-content {
        display: flex;
        align-items: center;
        @media(max-width: 770px) {
            flex-direction: column;
        }
        .cta-profile {
            flex: 1 1 30%;
            img {
                max-width: 150px;
                display: block;
                margin: 0 0 0 auto;
            }
        }
        .cta-detail {
            padding: 20px 0 0 50px;
            flex: 1 1 70%;
            @media(max-width: 450px) {
                padding: 20px 10px 0;
            }
            a {
                border-bottom: 1px solid $blue;
            }
        }
    }
}

.articles{
    display: block;
    height: 300px;
    width: 100%;
    position: relative;
    background-size: cover;
    margin: 20px 0;
    &__meta{
        position: absolute;
        left: 5%;
        top: 10%;
        color: $white;
        padding: 30px;
        z-index: 10;
            @media (max-width: 576px) {
                top: 0;
                left: 0;
            }
        h1{ 
            font-weight: 600; line-height: 1.2;
            @media (max-width: 576px) {
                font-size: 2rem;
            }
        }
        p{ opacity: .9;}
    }
    &__date{
        font-size: .8rem;
    }
    &:after{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: rgba(0,0,0, .6);
    }
    &:hover{
        &:after{
        background: rgba(0,0,0,.2);
        }
    }
}

// Homepage Article
.article {
    color: $black;
    margin-bottom: 20px;
    padding: 80px 0;
    border-bottom: 1px solid rgba($black, .5);
    .entry-header{
        position: relative;
    }
    &__img{
        position: relative;
        &:after{
            position: absolute;
            content: " ";
            background: rgba($black, .6);
        }
    }
    &__title{
    position: absolute;
    top: 0;
    left: 0;
        a{
            color: $white;
            font-weight: 600;
            font-size: 2.875rem;
        }
    }
    a:hover {
        text-decoration: none;
        opacity: .8;
    }
    .article-date {
        display: block;
        color: rgba($black, .8);
        margin: 0 0 30px 0;
    }
    p {
        line-height: 1.8;
    }
    &:last-child() {
        border-bottom: none;
    }
}

//Service Page
.single-service {
    margin: 0 0 6rem 0;
}

.service-price {
    background: $blue;
    color: $white;
    padding: 2rem 2rem;
    margin: 3rem 0 0 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    p {
        margin: 0;
        font-family: $primary-font;
    }
    span {
        font-weight: 600;
        font-size: 1.7rem;
    }
}

// Why me pages
.me-pages {
    padding: 0;
    p {
        font-weight: 300;
    }
    .reason {
        padding: 5rem 0;
        border-bottom: 1px solid rgba($black, .1);
        img {
            width: 150px;
            height: auto;
            display: block;
            margin: 0 auto;
            @media(max-width: 768px) {
                margin: 30px auto;
            }
        }
        h2 {
            font-size: 1.6rem;
            font-weight: 600;
        }
        p {
            font-weight: 300;
            line-height: 1.8;
        }
    }
}

.contact-page {
    p {
        line-height: 30px;
    }
    input,
    select {
        background: rgba($black, .1);
        padding: 10px;
        border: none;
        margin: 5px 0;
        max-width: 100%;
        -webkit-appearance: none;
    }
    input[type="submit"] {
        background: $blue;
        margin: 3rem 0 0;
        @media(max-width: 578px) {
            font-size: .7rem;
        }
    }
    .card {
        &:hover {
            transform: none;
        }
        span.wpcf7-not-valid-tip {
            display: inline-block;
        }
    }
}

// Single Article
#main {
    max-width: 700px;
    margin: 0 auto;
}

.single-blog-title {
    text-align: center;
    h1 {
        font-weight: 600;
        margin: 3rem 0;
        letter-spacing: -0.02em;
    }
    h5 {
        color: rgba($black, .8);
    }
    span.date {
        color: rgba($black, .8);
    }
}

.single-blog-featured{
    height: 400px;
    width: 100%;
    max-width: 100%;
    background-size: cover;
}
.single-blog-container{
    max-width: 700px;
    margin: 0 auto;
}
.single-blog-content {
    margin: 40px 0 0;
    max-width: 700px;
    padding: 0 10px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        //border-bottom: 5px solid rgba($blue, .8);
        padding: 5px 0;
        font-family: $primary-font;
        line-height: 120%;
        font-weight: 600;
        margin: 3rem 0 1.5rem;
    }
    p {
        font-size: 1.25rem;
        line-height: 1.8;
        margin: 2rem 0;
        color: #4a4a4a;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 2rem;
    }
    img {
        display: block;
        margin: 30px auto;
        max-width: 100%;
        border: 1px solid rgba($black, .4);
    }
    sub {
        display: block;
        margin: 0 auto;
        bottom: 15px;
        text-align: center;
        font-style: italic;
    }
    blockquote {
        font-size: 1.3rem;
        border-left: 5px solid #CB6B93;
        padding: 0 0 0 20px;
    }
    ul,
    ol {
        li {
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
    iframe {
        max-width: 100%;
    }
    .tweet-share {
        background: $black;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        font-size: 1rem;
        svg {
            height: 20px;
            width: auto;
            margin: 0 10px 0 0;
        }
        span {
            margin: 6px 0;
        }
    }
}

.single-blog-link {
    margin: 50px 0;
    .previous-link {
        text-align: left;
    }
    .next-link {
        text-align: right;
    }
}
.single-blog-social{
    display: flex;
    margin: 0 0 30px 0;
    @media (max-width: 576px) { flex-direction: column; }
    a{
        flex: 1 1 50%;
        margin: 0 10px;
        border: none;
            width: 100%;
        @media (max-width: 576px) {
            margin: 10px 0;
        }
    }
}
// Footer
footer {
    background: $black;
    padding: 0;
    .navbar-header {
        a {
            color: $white;
            display: block;
            text-align: center;
        }
    }
    .footer-social {
        border-top: 1px solid rgba($white, .2);
        border-bottom: 1px solid rgba($white, .2);
        padding: 20px 20px 20px;
        margin-bottom: 30px;
        img {
            max-width: 1.5rem;
        }
        i {
            color: $white;
            font-size: 1.5rem;
            display: block;
            text-align: center;
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
    .footer-text {
        color: $white;
        text-align: center;
        a {
            font-weight: 600;
        }
    }
}

footer.entry-footer {
    background: $white;
}

#comments {
    padding: 50px 0 0;
    font-size: 1rem;
    h3 {
        margin: 7% 0 40px 0;
    }
    .comment-list {
        padding: 0;
        li {
            list-style-type: none;
            font-size: 1rem;
            padding: 5%;
            border-bottom: 2px solid #f2f1f1;
        }
        .children {
            border-top: 2px solid #e5e5e5;
            margin-top: 5%;
            padding: 0;
            li {
                background: #f8f8f8;
                .comment-meta {
                    background: #f8f8f8;
                }
            }
        }
    }
    footer.comment-meta {
        background: $white;
        padding: 20px 0 30px;
        margin: 0;
        a {
            color: $black;
        }
        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: 0 10px 0 0;
        }
    }
}

#reply-title {
    margin-top: 7%;
}


















































/** Social Share Button**/

#social-share {
    position: relative;
    top: -0.5em;
    margin-top: 3rem;
}

#social-share ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
        list-style-type: none;
        flex: 1 1 25%;
    }
}

#social-share ul li p {
    display: none;
}

#social-share .icons li {
    padding: 0 !important;
    padding-bottom: 10px !important;
    margin: 0 5px;
}

#social-share .share-btn {
    padding: 0.5em;
    width: 100%;
}

#social-share-nav .share-btn h3 {
    color: #ffffff;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
    text-decoration: none;
}

.share-btn:hover {
    color: #ffffff !important;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn.twitter {
    background: #55acee;
}

.share-btn.google-plus {
    background: #dd4b39;
}

.share-btn.facebook {
    background: #3B5998;
}

.share-btn.linkedin {
    background: #4875B4;
}

.share-btn.stumbleupon {
    background: #EB4823;
}

.share-btn.pinterest {
    background: #BD081C;
}

.share-btn.reddit {
    background: #ff5700;
}

.share-btn.email {
    background: #444444;
}

.share-btn.twitter:hover {
    background: #4c9ad6;
}

.share-btn.google-plus:hover {
    background: #c64333;
}

.share-btn.facebook:hover {
    background: #2f4779;
}

.share-btn.linkedin:hover {
    background: #4069a2;
}

.share-btn.stumbleupon:hover {
    background: #d3401f;
}

.share-btn.pinterest:hover {
    background: #AD0000;
}

.share-btn.reddit:hover {
    background: #e54e00;
}

.share-btn.email:hover {
    background: #363636;
}