// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$default-font:  'Proxima Nova',-apple-system,
BlinkMacSystemFont,
Helvetica,
Roboto;
$default-font:  'Proxima Nova',
-apple-system,
BlinkMacSystemFont,
Helvetica,
Roboto;
$primary-font: $default-font;
$secondary-font: 'Proxima Nova',
-apple-system,
BlinkMacSystemFont,
Helvetica,
Roboto;
$black: #304560;
$white: #fff;
$purple: #533b9a;
$black-2: #2b303e;
$blue: #5F80E1;
$yellow: #E6D30C;